<%= simple_form_for User.new do |f| %>
  <%= f.error_notification %>
  <div class="span4">
    <%= f.input :email, placeholder: "user@domain.com"%>
</div>
<div class="span4">   
 	<%= f.input :condition, label: "Research Area", placeholder: "Tell us what to research", hint: 'EG: Back Pain and Accupuncture' %>
 </div>
 <div class="span4">
	<%= f.button :submit, 'Begin curation'%>
 </div>
  
<% end %>
