<h2 id="notice"><%= notice %></h2>
<h3>Just a few more things before you go...</h3>

<div class ="container">
<div class="row">
	<div class="span6">
<form class="form-horizontal">
  <div class="field">
    <%= label_tag :card_number, "Credit Card Number" %>
    <%= text_field_tag :card_number, nil, name: nil %>
  </div>
  <div class="field">
    <%= label_tag :card_code, "Security Code on Card (CVV)" %>
    <%= text_field_tag :card_code, nil, name: nil %>
  </div>
  <div class="field">
    <%= label_tag :card_month, "Card Expiration" %>
    <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
  </div>
    <button type="submit" class="submit-button" style="padding: 7px;">Submit Payment</button>
</form>
<div id="stripe_error">
  <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
</div>
</div>
	<div class="span6">
    <h4>Steps to FREE</h4>
		<ul>
      <li>Step 1</li>
      <li>Step 2</li>
      <li>Step 3</li>
      <li>Step 4</li>
      <li>Step 5</li>
      <li>Step 6</li>
      <li>Step 7</li>
      <li>Step 8</li>
    </ul>
</div>
		</div>

</div>






<p>Or just <%= link_to 'click here', :controller => "home", :action => "index" %> to go back (why would you want to?) </p>